/* 
 *  Order column width
 */
/* 
 *  User column width
 */
html {
  --antd-wave-shadow-color: #ff7675;
}

.App {
  position: relative;
  overflow: hidden;
}

.page-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.page-mask--active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  min-width: 280px;
  max-width: 280px;
  top: 40%;
  left: calc(50% - 140px);
  z-index: 20;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}

@media only screen and (min-width: 400px) {
  .modal {
    min-width: 320px;
    max-width: 320px;
    left: calc(50% - 160px);
  }
}

.modal .modal__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}

.modal .modal__message {
  margin-bottom: 24px;
}

.modal .modal__action {
  cursor: pointer;
  margin-right: 12px;
}

.modal .modal__action:hover {
  text-decoration: underline;
}

.modal .modal__action--negative {
  color: #ff7675;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 75px);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  overflow: auto;
  padding: 12px;
}

@media only screen and (min-width: 600px) {
  .content {
    padding: 24px;
  }
}

@media only screen and (min-width: 920px) {
  .content {
    margin-left: 220px;
  }
}

@media only screen and (min-width: 920px) {
  .content {
    margin-left: 220px;
  }
}

.dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
}

.dashboard-header .dashboard-header__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-header .dashboard-header__placeholder {
  display: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
  height: 20px;
  width: 100px;
  border-right: 1px solid #e0e6ed;
  border-radius: 5px;
  margin-left: 24px;
  margin-right: 24px;
}

@media only screen and (min-width: 920px) {
  .dashboard-header .dashboard-header__placeholder {
    display: block;
  }
}

.dashboard-header .dashboard-header__placeholder:last-child {
  border-right: none;
}

.dashboard-header .dashboard-header__balance-amount,
.dashboard-header .dashboard-header__user-count-amount {
  font-weight: 500;
}

.dashboard-header .dashboard-header__balance,
.dashboard-header .dashboard-header__order-balance,
.dashboard-header .dashboard-header__user-count {
  display: none;
  line-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #e0e6ed;
  font-size: 14px;
}

@media only screen and (min-width: 920px) {
  .dashboard-header .dashboard-header__balance,
  .dashboard-header .dashboard-header__order-balance,
  .dashboard-header .dashboard-header__user-count {
    display: block;
  }
}

.dashboard-header .dashboard-header__user-count {
  border-right: none;
}

.dashboard-header .dashboard-header__log-out {
  margin-right: 24px;
  font-size: 14px;
}

.dashboard-header .dashboard-header__balance-label {
  font-weight: 300;
}

.dashboard-header .app-info {
  padding: 12px 24px;
  border-right: 1px solid #e0e6ed;
  cursor: pointer;
  min-width: 240px;
  max-width: 240px;
}

@media only screen and (min-width: 400px) {
  .dashboard-header .app-info {
    min-width: 286px;
    max-width: 286px;
  }
}

.dashboard-header .app-info .app-info__app-title {
  font-size: 16px;
}

@media only screen and (min-width: 400px) {
  .dashboard-header .app-info .app-info__app-title {
    font-size: 24px;
  }
}

.dashboard-header .app-info .app-info__logo {
  width: 48px;
  height: 48px;
}

.app-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-info .app-info__logo {
  width: 60px;
  height: 60px;
}

.app-info .app-info__app-title {
  display: inline;
  font-weight: 700;
  font-size: 32px;
  margin-right: 24px;
  margin-left: 12px;
}

.section {
  padding: 12px;
}

@media only screen and (min-width: 600px) {
  .section {
    padding: 24px;
  }
}

.section--full-width {
  width: 100%;
}

@media only screen and (min-width: 2560px) {
  .section--full-width {
    width: 75%;
    margin: 0 auto;
  }
}

.section--half {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .section--half {
    width: 50%;
  }
}

@media only screen and (min-width: 2560px) {
  .section--half {
    width: 33.3%;
  }
}

@media only screen and (min-width: 3840px) {
  .section--half {
    width: 25%;
  }
}

.section--third {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .section--third {
    width: 50%;
  }
}

@media only screen and (min-width: 1366px) {
  .section--third {
    width: 33.3%;
  }
}

@media only screen and (min-width: 2560px) {
  .section--third {
    width: 25%;
  }
}

@media only screen and (min-width: 3840px) {
  .section--third {
    width: 20%;
  }
}

.section__container {
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
  border-radius: 5px;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  border-bottom: solid 1px #e0e6ed;
}

.section__title {
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (min-width: 396px) {
  .section__title {
    font-size: 18px;
  }
}

.section__content {
  padding: 12px;
}

.section__content--map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  padding: 24px;
}

.map {
  width: 100%;
  height: 100%;
}

.nav {
  display: none;
  min-width: 220px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
}

@media only screen and (min-width: 920px) {
  .nav {
    display: block;
  }
}

.nav .nav-container {
  margin-top: 48px;
}

.nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav .nav-item__title {
  padding-left: 12px;
  font-size: 14px;
}

.nav .nav-item--selected {
  background-color: #ffe6e5;
}

.nav .nav-item--selected .nav-item__details {
  color: #ff7675;
}

.nav .nav-item--selected .nav-item__title {
  font-weight: 700;
}

.nav .nav-item--selected:hover {
  background-color: #ffe6e5;
}

.nav .nav-item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav .nav-item__decoration {
  background-color: #ff7675;
  width: 4px;
}

.nav-item:hover {
  background-color: #fff2f2;
  color: #ff7675;
  cursor: pointer;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-item {
  padding: 12px;
  width: 100%;
}

@media only screen and (min-width: 660px) {
  .category-item {
    width: 50%;
  }
}

@media only screen and (min-width: 1130px) {
  .category-item {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1400px) {
  .category-item {
    width: 25%;
  }
}

@media only screen and (min-width: 1600px) {
  .category-item {
    width: 20%;
  }
}

@media only screen and (min-width: 3840px) {
  .category-item {
    width: 10%;
  }
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e0e6ed;
  border-radius: 10px;
  padding: 12px;
}

@media only screen and (min-width: 396px) {
  .category {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.category .category__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  width: 100%;
}

.category .category__image-container {
  min-width: 100px;
  min-height: 100px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 396px) {
  .category .category__image-container {
    margin-right: 24px;
    margin-bottom: 0px;
  }
}

.category .category__image-container .category__image {
  width: 100%;
  border-radius: 10px;
}

.category .category__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 6px;
}

.category .category__count {
  display: block;
  margin-bottom: 6px;
}

.category .category__action {
  cursor: pointer;
  font-weight: 300;
}

.category .category__action:hover {
  text-decoration: underline;
}

.category .category__action--negative {
  color: #ff7675;
}

.category .category__action:first-child {
  padding-right: 6px;
}

.category--placeholder .category__image {
  min-width: 100px;
  height: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
}

.category--placeholder .category__info * {
  width: 100%;
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
}

.data-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 12px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 12px;
  padding-bottom: 42px;
}

@media only screen and (min-width: 1920px) {
  .table-wrapper {
    padding-bottom: 0px;
    overflow: unset;
  }
}

.table {
  padding: 12px;
  width: 100%;
}

.table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}

.table__header .clmn-title {
  font-weight: 700;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.table__header .clmn-title--empty {
  width: 70px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--empty {
    width: 5%;
  }
}

.table__header .clmn-title--order-number {
  width: 250px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--order-number {
    width: 15%;
  }
}

.table__header .clmn-title--user {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user {
    width: 10%;
  }
}

.table__header .clmn-title--cost {
  width: 250px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--cost {
    width: 20%;
  }
}

.table__header .clmn-title--item-name {
  width: 350px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--item-name {
    width: 20%;
  }
}

.table__header .clmn-title--variant {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--variant {
    width: 20%;
  }
}

.table__header .clmn-title--actions {
  width: 150px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--actions {
    width: 10%;
  }
}

.table__header .clmn-title--user-username {
  width: 300px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-username {
    width: 20%;
  }
}

.table__header .clmn-title--user-country {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-country {
    width: 15%;
  }
}

.table__header .clmn-title--user-session-country {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-session-country {
    width: 15%;
  }
}

.table__header .clmn-title--user-points {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-points {
    width: 15%;
  }
}

.table__header .clmn-title--user-total-points {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-total-points {
    width: 15%;
  }
}

.table__header .clmn-title--user-invitation-code {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-invitation-code {
    width: 10%;
  }
}

.table__header .clmn-title--user-actions {
  width: 150px;
}

@media only screen and (min-width: 1920px) {
  .table__header .clmn-title--user-actions {
    width: 10%;
  }
}

.table__no-results {
  text-align: center;
  margin: 20px 0;
}

.order-list {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.count-placeholder {
  display: inline-block;
  width: 70px;
  height: 14px;
  margin-left: 12px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
  border-radius: 5px;
}

.order:first-child {
  border-top: 1px solid #f3f3f3;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f3f3f3;
}

.order .order__image {
  width: 70px;
}

@media only screen and (min-width: 1920px) {
  .order .order__image {
    width: 5%;
  }
}

.order .order__image img {
  width: 100%;
  border-radius: 10%;
}

.order .order__number {
  width: 250px;
  font-weight: 700;
}

@media only screen and (min-width: 1920px) {
  .order .order__number {
    width: 15%;
  }
}

.order .order__user {
  width: 200px;
  color: #ff7675;
  cursor: pointer;
}

@media only screen and (min-width: 1920px) {
  .order .order__user {
    width: 10%;
  }
}

.order .order__user:hover {
  text-decoration: underline;
}

.order .order__cost {
  width: 250px;
}

@media only screen and (min-width: 1920px) {
  .order .order__cost {
    width: 20%;
  }
}

.order .order__item-name {
  width: 350px;
}

@media only screen and (min-width: 1920px) {
  .order .order__item-name {
    width: 20%;
  }
}

.order .order__variant {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .order .order__variant {
    width: 20%;
  }
}

.order .order__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 150px;
  border: 1px solid #fff;
  padding: 12px 0;
  background-color: #fff;
}

@media only screen and (min-width: 1920px) {
  .order .order__actions {
    width: 10%;
  }
}

.order .order__actions .order__action-list {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  border-left: 1px solid #e0e6ed;
  border-right: 1px solid #e0e6ed;
  border-bottom: 1px solid #e0e6ed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}

.order .order__actions .order__action-list li {
  font-size: 14px;
  padding: 12px 0;
}

.order .order__actions .order__action-list li:hover {
  background-color: #ffe6e5;
  color: #ff7675;
}

.order .order__actions .action--delete {
  color: #ff7675;
}

.order__actions:hover {
  border: 1px solid #e0e6ed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
}

.order__actions:hover .order__action-list {
  visibility: visible;
  z-index: 10;
}

.order--placeholder * {
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
  margin: 12px 12px;
}

.order--placeholder .order__image {
  width: 50px;
  height: 50px;
}

.order--placeholder .order__actions {
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: auto;
}

.user:first-child {
  border-top: 1px solid #f3f3f3;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
  padding: 12px;
  margin-bottom: 12px;
}

.user .user__username {
  width: 20%;
  border-radius: 10%;
  color: #ff7675;
  cursor: pointer;
}

.user .user__username:hover {
  text-decoration: underline;
}

.user .user__country {
  width: 15%;
  font-weight: 700;
}

.user .user__session-country {
  width: 200px;
  font-weight: 700;
}

@media only screen and (min-width: 1920px) {
  .user .user__session-country {
    width: 15%;
  }
}

.user .user__points {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .user .user__points {
    width: 15%;
  }
}

.user .user__total-points {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .user .user__total-points {
    width: 15%;
  }
}

.user .user__invitation-code {
  width: 200px;
}

@media only screen and (min-width: 1920px) {
  .user .user__invitation-code {
    width: 10%;
  }
}

.user .user__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 150px;
  border: 1px solid #fff;
  padding: 12px 0;
  background-color: #fff;
}

@media only screen and (min-width: 1920px) {
  .user .user__actions {
    width: 10%;
  }
}

.user .user__actions .user__action-list {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  border-left: 1px solid #e0e6ed;
  border-right: 1px solid #e0e6ed;
  border-bottom: 1px solid #e0e6ed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}

.user .user__actions .user__action-list li {
  font-size: 14px;
  padding: 12px 0;
}

.user .user__actions .user__action-list li:hover {
  background-color: #ffe6e5;
  color: #ff7675;
}

.user .user__actions .action--delete {
  color: #ff7675;
}

.user__actions:hover {
  border: 1px solid #e0e6ed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
}

.user__actions:hover .user__action-list {
  visibility: visible;
  z-index: 10;
}

.user--placeholder * {
  height: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
  margin: 12px 12px;
}

.user--placeholder .user__actions {
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: auto;
}

.switches {
  padding: 12px;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.action-btn {
  background-color: #ffffff;
  border: 1px solid #ff7675;
  border-radius: 5px;
  color: #ff7675;
  font-weight: 500;
  font-size: 14px;
  padding: 6px 12px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

@media only screen and (min-width: 396px) {
  .action-btn {
    padding: 12px 24px;
  }
}

.action-btn:hover {
  background-color: #ff7675;
  color: #ffffff;
}

.action-btn.active:hover {
  cursor: auto;
  background-color: #fff;
  color: #ff7675;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-height {
  height: 100vh;
}

.box {
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
  padding: 40px;
}

.logo {
  width: 60px;
  height: 60px;
}

.login {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-box {
  width: 500px;
  margin: 0 24px;
}

.login .login-box .login-box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-box .login-box__header .app-name {
  font-size: 30px;
  margin-left: 12px;
  font-weight: 700;
  text-align: center;
}

.login .login-box .login-box__subtitle {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 36px;
  font-weight: 300;
}

.login-form {
  text-align: center;
}

.login-form .login-form__input-username {
  margin-bottom: 12px;
}

.login-form input {
  padding: 12px;
}

.login-form .action-btn {
  width: 200px;
  margin-top: 36px;
}

.login-form .form-error ~ .action-btn {
  margin-top: 24px;
}

.login-form .form-error {
  margin-top: 24px;
  margin-bottom: 0px;
}

.versions-form {
  padding: 12px;
  text-align: center;
}

.versions-form .versions-form__input-app {
  margin-bottom: 24px;
}

.versions-form .versions-form__input-gdpr {
  margin-bottom: 24px;
}

.misc-form {
  padding: 12px;
  text-align: center;
}

.misc-form .misc-form__textarea-message {
  margin-bottom: 24px;
  min-height: 120px;
}

.category-form {
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .category-form {
    text-align: left;
  }
}

.category-form .category-form__submit-btn {
  margin: 12px;
  padding: 12px 36px;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-wrapper .input-label-group {
  width: 100%;
  padding: 12px;
}

@media only screen and (min-width: 500px) {
  .input-wrapper .input-label-group {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1024px) {
  .input-wrapper .input-label-group {
    width: 25%;
  }
}

@media only screen and (min-width: 2560px) {
  .input-wrapper .input-label-group {
    width: 20%;
  }
}

@media only screen and (min-width: 3840px) {
  .input-wrapper .input-label-group {
    width: 20%;
  }
}

.form-error {
  text-align: center;
  display: block;
  margin-bottom: 24px;
  color: #ff7675;
}

.input-label-group {
  text-align: left;
}

.input-label-group .input-label-group__label {
  display: inline-block;
  font-size: 14px;
  padding-bottom: 8px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 12px;
  padding-right: 12px;
}

.details .detail {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 24px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .details .detail {
    width: 50%;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .details .detail {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1500px) {
  .details .detail {
    width: 25%;
  }
}

.details .detail .detail__label {
  display: block;
  font-size: 14px;
  padding-bottom: 8px;
}

.details .detail .detail__value {
  display: block;
  font-weight: 500;
}

.copyright {
  padding: 20px;
}

.copyright .copyright__text {
  font-size: 12px;
  color: #8f98a9;
  text-align: center;
}

.pagination {
  width: 100%;
  text-align: center;
}

button.active {
  opacity: 0.6;
}

.lds-container {
  width: 100%;
  padding: 24px;
  text-align: center;
}

.lds-container.full-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - 62px);
}

.lds-container--button {
  padding: 0px;
}

.lds-container--button .lds-dual-ring {
  width: 12px;
  height: 12px;
}

.lds-container--button .lds-dual-ring::after {
  width: 12px;
  height: 12px;
  border: 2px solid #ff7675;
  border-color: #ff7675 transparent #ff7675 transparent;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ff7675;
  border-color: #ff7675 transparent #ff7675 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring--light::after {
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 12px;
  margin-top: 12px;
  color: #818181;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.filter > * {
  margin-right: 12px;
}

.filter .filter-keys {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 12px;
}

@media only screen and (min-width: 450px) {
  .filter .filter-keys {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 990px) {
  .filter .filter-keys {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-bottom: 0px;
  }
}

.filter .filter-conditions {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 12px;
}

@media only screen and (min-width: 450px) {
  .filter .filter-conditions {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 990px) {
  .filter .filter-conditions {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-bottom: 0px;
  }
}

.filter .filter-query {
  margin-bottom: 12px;
}

@media only screen and (min-width: 990px) {
  .filter .filter-query {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-bottom: 0px;
  }
}

.filter .action-btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 12px;
}

@media only screen and (min-width: 450px) {
  .filter .action-btn {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    margin-bottom: 0;
  }
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
  border: 1px solid #e0e6ed;
  border-radius: 5px;
}

.dropdown .dropdown__selected-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
}

.dropdown .dropdown-list {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: -1px;
  right: -1px;
  background-color: #fff;
  border: 1px solid #e0e6ed;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}

.dropdown--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
}

.dropdown--active .dropdown-list {
  display: block;
}

.dropdown--active .dropdown-list .dropdown-list__item {
  padding: 12px 0;
  font-size: 14px;
  text-align: center;
}

.dropdown--active .dropdown-list .dropdown-list__item:hover {
  background-color: #ffe6e5;
  color: #ff7675;
}

.notifications {
  position: absolute;
  right: 48px;
  top: 24px;
  z-index: 999;
}

.notifications .notification {
  border-radius: 5px;
  padding: 12px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 12px;
}

.notifications .notification .notification__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications .notification .notification__content .notification__message {
  margin: 0 12px;
}

.notifications .notification--positive {
  background-color: #2ecc71;
}

.notifications .notification--negative {
  background-color: #ff7675;
}

.warning {
  width: 100%;
  padding: 12px;
}

.warning__demo {
  padding: 12px;
  text-align: center;
}

.warning__demo span {
  color: #ff7675;
}

.error--no-data {
  text-align: center;
  padding: 24px 0;
}

.mobile-menu {
  display: block;
  cursor: pointer;
  margin-right: 24px;
}

@media only screen and (min-width: 920px) {
  .mobile-menu {
    visibility: hidden;
  }
}

.mobile-menu:hover {
  opacity: 0.7;
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  z-index: 25;
  -webkit-box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
          box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
  min-width: 220px;
  top: 0;
  right: -220px;
  bottom: 0;
  -webkit-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
  overflow: hidden;
}

.nav-mobile.active {
  right: 0;
}

.nav-mobile .nav-mobile__close-icon {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 24px;
}

.nav-mobile .mobile-stats {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.nav-mobile .mobile-stats .mobile-stats__balance,
.nav-mobile .mobile-stats .mobile-stats__order-balance {
  margin-bottom: 12px;
}

.nav-mobile .mobile-stats .mobile-stats__balance-amount,
.nav-mobile .mobile-stats .mobile-stats__balance-amount,
.nav-mobile .mobile-stats .mobile-stats__user-count-amount {
  font-weight: 500;
}

.nav-mobile .mobile-stats .mobile-stats__placeholder {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
          animation: ant-skeleton-loading 1.4s ease infinite;
  border-radius: 10px;
  height: 14px;
  width: 100px;
  border-right: 1px solid #e0e6ed;
  border-radius: 5px;
  margin-bottom: 12px;
}

.nav-mobile .mobile-stats .mobile-stats__placeholder:last-child {
  margin-bottom: 0;
}

.nav-mobile .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 24px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-mobile .nav-item__title {
  padding-left: 12px;
  font-size: 14px;
}

.nav-mobile .nav-item--selected {
  background-color: #ffe6e5;
}

.nav-mobile .nav-item--selected .nav-item__details {
  color: #ff7675;
}

.nav-mobile .nav-item--selected .nav-item__title {
  font-weight: 700;
}

.nav-mobile .nav-item--selected:hover {
  background-color: #ffe6e5;
}

.nav-mobile .nav-item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.nav-mobile .nav-item__decoration {
  background-color: #ff7675;
  width: 4px;
}
/*# sourceMappingURL=index.css.map */